#screen {
 width: 400px;
 height: 800px;
 border: 1px solid black;

 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
}

#screen > .tile {
 width: 38px;
 height: 38px;
 border: 1px solid black;
}

.tile.teal {
 background-color: teal;
}

.tile.blue {
 background-color: blue;
}

.tile.orange {
 background-color: orange;
}

.tile.yellow {
 background-color: yellow;
}

.tile.green {
 background-color: green;
}

.tile.purple {
 background-color: purple;
}

.tile.red {
 background-color: red;
}

